{{#if addNewRental}}
  <h1>New Rental</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Description</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="cost">Rent</label>
        {{input value=cost id="cost"}}
      </div>

      <div class="form-group">
        <label for="bedrooms">Bedrooms</label>
        {{input value=bedrooms id="bedrooms"}}
      </div>

      <div class="form-group">
        <label for="squareft">Square Footage</label>
        {{input value=squareft id="squareft"}}
      </div>

      <div class="form-group">
        <label for="location">Rental Location</label>
        {{input value=location id="location"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <button {{action 'saveRental'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'rentalFormShow'}}>New Rental</button>
{{/if}}
