<div class="rental-tile">
  <span id="constrain">
    <img src={{personal.image}}><br> {{personal.description}} in {{personal.location}}. {{personal.content}} !
    <button{{action 'delete' personal}}>Delete</button>
  </span>
</div>
